/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.bottom-actions {
    margin-top: 1rem;
}

.rsync-item {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #ccc;
}

.rsync-item:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
}
